{% extends 'base.html' %}
{% load crispy_forms_tags email_filters %}
{% block content %}
    <div class="content-section justify-content">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <p> Your email: {{ user.email|mask_email }} </p>
                <legend class="border-bottom mb-4">Reset the password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}